// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper ul.gform_fields li.gfield {
	clear: none;
	width: 33%;	
	float: left;
	margin-top: 50px;
}
body .gform_wrapper .top_label div.ginput_container input,
body .gform_wrapper .top_label div.ginput_container select,
body .gform_wrapper .top_label div.ginput_container textarea{
	border-bottom: 3px solid #fff;
	border-radius: 0;
}

.gform_wrapper ul.gform_fields li.gfield select{
	height: 28px;
    margin-top: -2px;
    padding-top: 0 !important;
    padding-bottom:0 !important;
}
.gform_wrapper ul.gform_fields li.gfield:hover select{
    height: 46px;	
}
/*
.gform_wrapper ul.gform_fields li.gfield:hover select{
	height: auto;
}
*/
.gform_wrapper ul.gform_fields li.gfield:last-of-type {
	width: 100%;	
}
body .gform_wrapper .top_label div.ginput_container{
	margin-top: 0 !important;
}
.gform_wrapper .top_label .gfield_label{

	margin-bottom: 0;

}
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {

    padding: 11px 4px !important;
}
.gform_wrapper li.gfield:hover input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {

    padding: 5px 4px !important;
}

.form .gform_wrapper ul li#field_1_5 .gfield_label{
	padding-bottom: 0;
}
.form .gform_wrapper ul li#field_1_5:hover .gfield_label{
	padding-bottom: 0px;
	padding-top: 0;
}
.form .gform_wrapper ul li.gfield .gfield_label{
	padding-top: 19px;
}
.form .gform_wrapper ul li.gfield:not(#field_1_7):hover .gfield_label{
	padding-top: 0px;
}




.gform_wrapper li input.large,
.gform_wrapper .top_label .gfield_label,
.gform_wrapper .top_label li:hover .gfield_label,
.gform_wrapper input::placeholder,
.gform_wrapper input[type="text"],
.gform_wrapper input,
.gform_wrapper textarea,
.gform_wrapper textarea::placeholder,
.gform_wrapper select{
	color: #fff;
	font-family: DINPro-Black !important;
	font-size: 15px !important;
	line-height: 32px !important;
	letter-spacing: .2rem !important;
	text-transform: uppercase;
    -webkit-appearance: none;

}
.gform_wrapper select:hover,
.gform_wrapper li.gfield:hover select:hover,
.gform_wrapper li.gfield:hover select{
	color: #000 !important;
}
.gform_wrapper li input.large{
	height: 0;
	padding: 0;
}
/*
.gform_wrapper .top_label li:not(#field_1_5):hover .gfield_label,
.gform_wrapper input::placeholder,
.gform_wrapper input[type="text"],
.gform_wrapper input,
.gform_wrapper textarea,
.gform_wrapper select{
	opacity: 1;
    transition: all 0.2s;
 	
}
*/
.gform_wrapper select{
	padding: 5px 0 6px 3px !important;
}

.gform_wrapper input.large,
.gform_wrapper textarea,
.gform_wrapper select{
	background-color: transparent;
	border: none;
}
.gform_wrapper li:hover input.large,
.gform_wrapper li:hover textarea,
.gform_wrapper select:hover{
	background-color: #fff;
	color: #000;
}
.gform_wrapper li:hover input.large,
.gform_wrapper select:hover{
    height:auto;
}
.gform_wrapper select{
	background: transparent;
	border: none;
}
.req{
	color: #fff;
	font-size: 16px;
	font-family: DINPro-Medium;
	font-style: italic;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.gform_wrapper ul.gform_fields li.gfield {

		width: 50%;	

	}
}