.sidebar{
	font-family: DINPro-Black;
	font-size: 14px;
}	
.sidebar>section{
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 30px;
}
@media (min-width: 576px){
	.sidebar{
	    margin-right: 0;
	    margin-left: auto;
	    flex: 0 0 25%;
	    max-width: 25%;
	}	
}
.widget .menu{
	list-style: none;
	margin-bottom: 0;
}
.widget .menu li{
	margin-bottom: 45px;
	text-transform: uppercase;
}
.widget .menu li:last-of-type{
	margin-bottom: 0;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {

}